<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../../../static/vuong/css/style.css">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/Vinh/css/Header.css">
    <link rel="stylesheet" href="/Vinh/css/Footer.css">
    <link rel="stylesheet" href="/nha/css/Demo.css">
    <title>Admin</title>
</head>

<body>

<div th:insert="~{/HeaderFooter/Header::header-cline}"></div>
<center>
    <div>
        <span class="alert alert-success" th:if="${mgs}"> Không tìm thấy sản phẩm</span>
    </div>
    <div>
        <span class="alert alert-success" th:if="${mgs2}"> Sửa tình trạng sản phẩm thành công!</span>
    </div>
    <div>
        <span class="alert alert-success" th:if="${mgsxoa1}" th:text="${mgsxoa1}">Xóa thành công! </span>
    </div>
</center>
<div class="main">
    <div class="search__form">
        <form action="/admin/search" method="get">
            <label>Tên Sản Phẩm : </label>
            <input type="text" class="filter__input" name="nameProduct"  id="mem-name"/>
            <button class="filter__btn" type="submit">Lọc kết quả</button>
        </form>
    </div>
    <div class="main__userbill">
    <div class="main__left" th:fragment="main__left">

        <div class="main__left-title">
            <h2>Quản lý trang</h2>
        </div>

        <div id="accordion" class="accordion">
            <div class="card" style="border: none">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <img src="/Images/product.svg" alt="">
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                Quản lý sản phẩm
                            </h4>
                        </div>

                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/admin/list">Tất cả sản phẩm</a></p>
                    </div>
                </div>
            </div>
            <div class="card" style="border: none">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <img src="/Images/category.svg"/>
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">Quản lý danh mục</h4>
                        </div>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/admin/category/list">Tất cả danh mục</a></p>
                        <p><a href="/admin/category/create">Thêm danh mục</a></p>
                    </div>
                </div>
            </div>
            <div class="card" style="border: none">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <img src="/Images/ic-account.png"/>
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Quản lý tài khoản
                            </h4>
                        </div>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/admin/account">Tất cả tài khoản</a></p>
                    </div>
                </div>
            </div>
            <div class="card" style="border: none">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <img src="/Images/order.svg"/>
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Quản lý đơn hàng
                            </h4>
                        </div>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/nhas/dongia">Tất cả đơn hàng</a></p>
                    </div>
                </div>
            </div>
            <div class="card" style="border: none">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <img src="/Images/ic-permission.png"/>
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseSix">
                                Duyệt sản phẩm
                            </h4>
                        </div>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/admin/approve">Tất cả đơn duyệt</a></p>
                    </div>
                </div>
            </div>
            <div class="card" style="border: none">
                <div class="card-header" id="headingSeven">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <img src="/Images/voucher.svg"/>
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseSeven">
                                Quản lý màu sắc
                            </h4>
                        </div>
                    </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/admin/listcolor">Danh sách màu sắc</a></p>
                    </div>
                </div>
            </div>
            <div class="card" style="border: none">
                <div class="card-header" id="headingEight">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <img src="/Images/ic-feedback.png"/>
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseEight"
                                aria-expanded="false" aria-controls="collapseEight">
                                Quản lý đấu giá
                            </h4>
                        </div>
                    </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/admin/auction/list">Danh sách Đấu Giá</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h5 class="mb-0">
                        <div class="accordion__title">
                            <h4 style="text-decoration: none" data-toggle="collapse" data-target="#collapseTen"
                                aria-expanded="false" aria-controls="collapseTen">
                                Quản Lý Bình Luận
                            </h4>
                        </div>
                    </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="/admin/comment/list">Danh sách bình luận</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main__right">
        <table class="table__container">
            <thead class="table__thead">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Người Đăng</th>
                <th>Danh Mục</th>
                <th>Trạng Thái</th>
            </tr>


            </thead>

            <tbody class="table__tbody" th:unless="${mgs}">
            <tr th:each="sanpham: ${product}">
                <td>
                    <h4 th:text="${sanpham.productName}"></h4>
                </td>
                <td >
                    <h4 th:text="${sanpham.accounts.user.name}"></h4>
                </td>
                <td >
                    <h4 th:text="${sanpham.category.categoryName}"></h4>
                </td>

                <td>
                    <a th:href="@{/admin/edit(id = ${sanpham.idProduct})}">
                        <button class="button__action background-blue"  th:href="@{/admin/edit(id = ${sanpham.idProduct})}">
<!--                            <img src="/Images/edit.png"/>-->
                            <span role="img" aria-label="edit" class="anticon anticon-edit"><svg viewBox="64 64 896 896" focusable="false" data-icon="edit" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M257.7 752c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 000-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 009.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9zm67.4-174.4L687.8 215l73.3 73.3-362.7 362.6-88.9 15.7 15.6-89zM880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32z"></path></svg></span>

                        </button>
                    </a>
                    <a th:href="@{/admin/{id}/deleteProduct(id=${sanpham.idProduct})}">
                        <button class="button__action background-red" >
<!--                           <img src="/Images/delete.jpg"/>-->
                            <svg viewBox="64 64 896 896" focusable="false" data-icon="delete" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z"></path></svg>

                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Cho phan trang -->
        <div class="center" th:if="${nameProduct == null}">
            <span class="pagination">
                <a th:if="${product.hasPrevious()}" th:href="@{/admin/list(page=${product.number - 1})}">
                    <img class="img__arrow" src="/Images/arrrowleft.png" alt=""/>
                </a>
            </span>
            <span class="pagination">
                    <a th:href="@{/admin/list(page = ${pageNo})}" th:text="${product.number}"></a>
            </span>
            <span class="pagination">
                <a th:if="${product.hasNext()}" th:href="@{/admin/list(page=${product.number + 1})}">
                    <img class="img_arrow" src="/Images/arrowright.png" alt=""/>

                </a>
            </span>
        </div>
        <div class="center" th:if="${nameProduct != null}">
            <span class="pagination">
                <a th:if="${product.hasPrevious()}"
                   th:href="@{/admin/list(page=${product.number - 1}, tensanpham=${nameProduct})}">Trước</a>
            </span>
            <span class="pagination">
                    <a th:href="@{/admin/list(page = ${pageNo},tensanpham=${product})}" th:text="${pageNo}"></a>
            </span>
            <span class="pagination">
                <a th:if="${sanphams1.hasNext()}"
                   th:href="@{/admin/list(page=${product.number + 1},tensanpham=${nameProduct})}">Sau</a>
            </span>
        </div>
        <!--  -->
    </div>
        </div>
</div>
<div  th:insert="~{/HeaderFooter/Footer::footer_clinet}">


</div>
</body>

</html>